*{padding: 0; margin: 0}
body {
    margin: 15px;
    font-size: 14px;
}
.table .topo{
    background-color: #d1d1d1;
}
.table td{
    padding: 5px 10px;
}
.estado-table{
    width: 100%;
    margin-bottom: 40px;
}
.estado-table h5{
    padding: 5px;
    font-weight: bold;
}
.cidades{
    margin-left: 10px;
    margin-top: -7px;
}
.cidades h5{
    font-size: 16px;
    font-weight: normal;
}