.bs-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }
  .bs-switch input {
    display: none; }
    .bs-switch input:checked + .slider {
      background-color: #2196F3; }
      .bs-switch input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px); }
        .bs-switch input:focus + .slider {
          -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3; }
          .bs-switch .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            -o-transition: .4s;
            transition: .4s; }
            .bs-switch .slider:before {
              position: absolute;
              content: "";
              height: 26px;
              width: 26px;
              left: 4px;
              bottom: 4px;
              background-color: white;
              -webkit-transition: .4s;
              -o-transition: .4s;
              transition: .4s; }
              .bs-switch .slider.round {
                -webkit-border-radius: 34px;
                border-radius: 34px; }
                .bs-switch .slider.round:before {
                  -webkit-border-radius: 50%;
                  border-radius: 50%; }
